body { 
background-color: crimson;
}

p {
background-color: Gold;
font-size: 2rem;
font-family: Georgia, Times New Roman;
}

h2 {
font-size: 3rem;
font-family: Georgia, Times New Roman;
}

nav {
    border-bottom: 1px solid black;
    background-color: DarkOrange;
    font-size: 3rem;
    font-family: Arial, Times New Roman;
}


