body { 
background-color: crimson;
}

p {
background-color: Gold;
font-size: 2rem;
font-family: Georgia, Times New Roman;
}

h2 {
font-size: 3rem;
font-family: Georgia, Times New Roman;'
}

nav {
    border-bottom: 1px solid black;
    background-color: LightSalmon;
    }

p,
ul {
  border: 2px solid black;
  padding: .5em;
  font-family: Arial, Times New Roman;
  font-size: 2rem ;
}

.block,
li {
  border: 2px solid black;
  padding: .5em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}      

